# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


server/chats.json
server/uploads
server/analytics_events.json
server/indexes/library/c5ea112d-968b-4e81-b4f2-5eb03c4c04ba.index.json
server/library.json
